.form {
    display: grid;
    row-gap: var(--spacing-md);
    align-items: center;
    justify-items: center;
}

.form > div {
    width: 100%;
}

.error {
    width: 100%;
    color: var(--colors-status-danger);
    font-family: var(--typography-fontFamily);
    font-size: calc(var(--calc-font-size) * .8);
    padding: var(--spacing-xs);
    background-color: hsl(from var(--colors-status-danger) h s l / .05);
    border-radius: var(--radius-sm);
}

.ctaContainer {
    margin-top: var(--spacing-md);
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: center;
}

.ctaContainer > svg {
    width: var(--typography-fontSize-lg);
    height: var(--typography-fontSize-lg);
    fill: var(--colors-text-tertiary);
}

.ctaContainer > button {
    width: fit-content;
}

.ctaContainer > .success {
    transition: all var(--motion-duration-normal) var(--motion-easing);
    opacity: 0;
}

.ctaContainer > .show {
    opacity: 1;
}