.form {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-sm);
}

.inputContainer {
    display: flex;
    flex-direction: row;
    row-gap: var(--spacing-sm);
    flex-wrap: wrap;
    align-items: center;
}

.inputContainer > * {
    flex: 1 1 200px;
}

.error {
    color: var(--colors-status-danger);
    font-family: var(--typography-fontFamily);
    font-size: calc(var(--calc-font-size) * .8);
    padding: var(--spacing-xs);
    background-color: hsl(from var(--colors-status-danger) h s l / .05);
    border-radius: var(--radius-sm);
}

.form > button, .form > svg {
    margin-top: var(--spacing-md);
}

.form > svg {
    width: var(--typography-fontSize-lg);
    height: var(--typography-fontSize-lg);
    fill: var(--colors-font-tertiaryColor);
    align-self: center;
}