.container {
    display: block;
    width: var(--width);
    height: var(--height);
    position: relative;
    perspective: 1000px;
}

.cardOne {
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform-origin: center center;
    will-change: transform;
}


.cardTwo {
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform-origin: center center;
    will-change: transform;
}