* {
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    position: relative;
    height: calc(var(--calc-font-size) + var(--spacing-md) + var(--spacing-lg) + var(--calc-font-size) * .9);
    margin: 0;
    padding: 0;
    border-radius: var(--radius-md);
    box-sizing: border-box;
    color: var(--colors-font-primaryColor);
}

.container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--colors-accent-primaryColor);
    transition: all var(--motion-duration-normal) ease;
    -webkit-mask: -webkit-linear-gradient(90deg, transparent, white 8%, white 92%, transparent);
    mask: linear-gradient(90deg, transparent, white 8%, white 92%, transparent);
}

.container:focus-within::after, .content::after {
    width: 100%;
}
.container:focus-within .wrapper, .content .wrapper, .error .wrapper {
    border-bottom: none;
}

.wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--spacing-md) + var(--calc-font-size));
    border-radius: 0;
    border-bottom: 1px solid var(--colors-border-tertiaryColor);
}

.container:focus-within > .wrapper, .content > .wrapper {
    background-color: transparent;
}

.label {
    position: absolute;
    font-size: var(--calc-font-size);
    font-family: var(--typography-fontFamily);
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: all var(--motion-duration-slow) ease;
    width: fit-content;
}

.container:focus-within > .label, .content > .label {
    font-size: calc(var(--calc-font-size) * .9);
    left: 0;
    top: 0;
    transform: translateY(0%);
}

.wrapper > input {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    background: transparent;
    font-size: var(--calc-font-size);
    height: var(--calc-font-size);
    width: 100%;
    outline: none;
}

.wrapper > input[type="number"]::-webkit-outer-spin-button,
.wrapper > input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapper > input[type="number"] {
    -moz-appearance: textfield;
}


.error {
    margin-bottom: calc(var(--spacing-md) + var(--calc-error-height, 16px));
}

.error::after {
    background-color: var(--colors-status-danger);
    width: 100%;
}

.container > span {
    color: var(--colors-status-danger);
    font-size: calc(var(--calc-font-size) * .8);
    font-family: var(--typography-fontFamily);
    position: absolute;
    bottom: 0;
    transform: translateY(calc(var(--calc-error-height, 16px) + var(--spacing-md)));
}

.xs {
    font-size: var(--typography-fontSize-xs);
}

.sm {
    font-size: var(--typography-fontSize-sm);
}

.md {
    font-size: var(--typography-fontSize-md);
}

.lg {
    font-size: var(--typography-fontSize-lg);
}

.xl {
    font-size: var(--typography-fontSize-xl);
}