.container {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: var(--spacing-md);
    width: 100%;
    height: 100%;
}

.tablist {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.arrowLeft, .arrowRight {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-width: var(--spacing-lg);
    min-height: var(--spacing-lg);
}
.arrowLeft {
    padding-right: var(--spacing-xs);
}
.arrowRight {
    padding-left: var(--spacing-xs);
}
.arrowLeft svg, .arrowRight svg {
    fill: var(--colors-text-tertiary);
    width: var(--typography-fontSize-xl);
}
@media (hover: hover) and (pointer: fine) {
    .arrowLeft:hover svg, .arrowRight:hover svg {
        fill: var(--colors-interaction-highlight);
    }
}
.pressed svg {
    fill: var(--colors-interaction-highlight);
}


.tabItemsContainer {
    min-width: 0;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
}
.tabItemsContainer::-webkit-scrollbar {
    display: none;
}

.indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: var(--calc-tab-width);
    background: var(--colors-interaction-highlight);
    transition: transform var(--motion-duration-normal) var(--motion-easing);
    transform: translateX(var(--indicator-left-offset));
    will-change: transform;
}

.inner {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    width: max-content;
    gap: var(--spacing-lg);
    margin: 0 auto;
}

.tabItem {
    color: var(--colors-text-secondary);
}

.activeTab {
    color: var(--colors-text-primary);
}

.tabPanel {
    overflow-x: hidden;
    overflow-y: auto;
}